@{
    Layout = null;
}

<div class="pure-g">
    <a href="javascript:;" name="SetPower" class="pure-link pure-link-default">初始化所有权限</a>
</div>
<div id="power_list">


</div>
<script type="text/javascript">
    $(function () {
        $('a[name=SetPower]').bind('click', function () {
            $('#power_list').html("");
            $('#power_list').append("开始初始化...");
            $('#power_list').append("<br/>");
            var param = {};
            param.param = "Epoint.PingBiao.Controllers.dll";
            $.ajax({
                url: "/Admin/Sys/SetPower",
                type: "post",
                data: param,
                success: function (obj) {
                    if (obj.pass) {
                        for (var i = 0; i < obj.append.PowerGroupList.length; i++) {
                            $('#power_list').append(obj.append.PowerGroupList[i].NoGroupId);
                            $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                            $('#power_list').append("模块：" + obj.append.PowerGroupList[i].GroupName + (obj.append.PowerGroupList[i].IsShow ? "(显示)" : "(隐藏)"));
                            $('#power_list').append("<br/>");
                            var p_list = obj.append.PowerGroupList[i].PowerList;
                            for (var j = 0; j < p_list.length; j++) {
                                $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                $('#power_list').append(p_list[j].NoPowerId);
                                $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                $('#power_list').append(p_list[j].PowerName);
                                $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                $('#power_list').append(p_list[j].IsShow==true?"显示":"隐藏");
                                $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                $('#power_list').append(p_list[j].ParamStr);
                                $('#power_list').append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                $('#power_list').append(p_list[j].PowerDes);
                                $('#power_list').append("<br/>");
                            }
                        }
                        $('#power_list').append("初始化成功！！！");
                        alert(obj.msg);
                    } else {
                        alert(obj.msg);
                    }
                }
            });

        });
    });

</script>
