<?xml version="1.0" encoding="utf-8"?>
<autofac>
  <components>
<!--数据源-->    
<!--MSSQLService MySQLService SQLiteService PostgreSQLService-->

    <!--<component name="MSSQL.SiteConfigService" type="Epoint.PingBiao.MSSQLService.SiteConfigService, Epoint.PingBiao.MSSQLService" service="Epoint.PingBiao.IService.ISiteConfigService,Epoint.PingBiao.IService" />
    <component name="MSSQL.RoleServer" type="Epoint.PingBiao.MSSQLService.RoleServer, Epoint.PingBiao.MSSQLService" service="Epoint.PingBiao.IService.IRoleServer,Epoint.PingBiao.IService" />
    <component name="MSSQL.UserServer" type="Epoint.PingBiao.MSSQLService.UserServer, Epoint.PingBiao.MSSQLService" service="Epoint.PingBiao.IService.IUserServer,Epoint.PingBiao.IService" />
    <component name="MSSQL.PowerConfigService" type="Epoint.PingBiao.MSSQLService.PowerConfigService, Epoint.PingBiao.MSSQLService" service="Epoint.PingBiao.IService.IPowerConfigService,Epoint.PingBiao.IService" />-->

<!--
    <component name="PGSQL.SiteConfigService" type="Epoint.PingBiao.PostgreSQLService.SiteConfigService, Epoint.PingBiao.PostgreSQLService" service="Epoint.PingBiao.IService.ISiteConfigService,Epoint.PingBiao.IService" />
    <component name="PGSQL.RoleServer" type="Epoint.PingBiao.PostgreSQLService.RoleServer, Epoint.PingBiao.PostgreSQLService" service="Epoint.PingBiao.IService.IRoleServer,Epoint.PingBiao.IService" />
    <component name="PGSQL.UserServer" type="Epoint.PingBiao.PostgreSQLService.UserServer, Epoint.PingBiao.PostgreSQLService" service="Epoint.PingBiao.IService.IUserServer,Epoint.PingBiao.IService" />
    <component name="PGSQL.PowerConfigService" type="Epoint.PingBiao.PostgreSQLService.PowerConfigService, Epoint.PingBiao.PostgreSQLService" service="Epoint.PingBiao.IService.IPowerConfigService,Epoint.PingBiao.IService" />
-->

    <component name="MySQL.SiteConfigService" type="Epoint.PingBiao.MySQLService.SiteConfigService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.ISiteConfigService,Epoint.PingBiao.IService" />
    <component name="MySQL.RoleServer" type="Epoint.PingBiao.MySQLService.RoleServer, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.IRoleServer,Epoint.PingBiao.IService" />
    <component name="MySQL.UserServer" type="Epoint.PingBiao.MySQLService.UserServer, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.IUserServer,Epoint.PingBiao.IService" />
    <component name="MySQL.PowerConfigService" type="Epoint.PingBiao.MySQLService.PowerConfigService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.IPowerConfigService,Epoint.PingBiao.IService" />
    <component name="MySQL.CMS.ArticleService" type="Epoint.PingBiao.MySQLService.CMS.ArticleService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.CMS.IArticleService,Epoint.PingBiao.IService" />
    <component name="MySQL.CMS.ColumnService" type="Epoint.PingBiao.MySQLService.CMS.ColumnService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.CMS.IColumnService,Epoint.PingBiao.IService" />
    <component name="MySQL.CMS.StaticPageService" type="Epoint.PingBiao.MySQLService.CMS.StaticPageService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.CMS.IStaticPageService,Epoint.PingBiao.IService" />
    <component name="MySQL.CMS.TempPageService" type="Epoint.PingBiao.MySQLService.CMS.TempPageService, Epoint.PingBiao.MySQLService" service="Epoint.PingBiao.IService.CMS.ITempPageService,Epoint.PingBiao.IService" />

    <!--<component name="SQLite.SiteConfigService" type="Epoint.PingBiao.SQLiteService.SiteConfigService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.ISiteConfigService,Epoint.PingBiao.IService" />
    <component name="SQLite.RoleServer" type="Epoint.PingBiao.SQLiteService.RoleServer, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.IRoleServer,Epoint.PingBiao.IService" />
    <component name="SQLite.UserServer" type="Epoint.PingBiao.SQLiteService.UserServer, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.IUserServer,Epoint.PingBiao.IService" />
    <component name="SQLite.PowerConfigService" type="Epoint.PingBiao.SQLiteService.PowerConfigService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.IPowerConfigService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.ArticleService" type="Epoint.PingBiao.SQLiteService.CMS.ArticleService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.IArticleService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.ColumnService" type="Epoint.PingBiao.SQLiteService.CMS.ColumnService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.IColumnService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.StaticPageService" type="Epoint.PingBiao.SQLiteService.CMS.StaticPageService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.IStaticPageService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.TempPageService" type="Epoint.PingBiao.SQLiteService.CMS.TempPageService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.ITempPageService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.TagService" type="Epoint.PingBiao.SQLiteService.CMS.TagService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.ITagService,Epoint.PingBiao.IService" />
    <component name="SQLite.CMS.CommentService" type="Epoint.PingBiao.SQLiteService.CMS.CommentService, Epoint.PingBiao.SQLiteService" service="Epoint.PingBiao.IService.CMS.ICommentService,Epoint.PingBiao.IService" />-->
  </components>
</autofac>
